@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  background-color: hsl(29, 100%, 95%);
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.new-message {
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: hsl(29, 100%, 70%);
}

.messages {
  width: 300px;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.message {
  display: flex;
  flex-direction: column;
  background-color: hsl(28, 100%, 85%);
  padding: 5px;
  border-radius: 5px;
}

.message-text {
  font-size: 20px;
}

.message-user {
  align-self: flex-end;
}

.message-added {
  align-self: flex-end;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type='text'] {
  border: 0;
  padding: 7px 12px;
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: hsl(29, 100%, 70%);
}
